.env
guide.txt
.DS_Store
__pycache__/
venv
jupyter_extension/source/node_modules/
jupyter_extension/source/lib/
jupyter_extension/source/math_notes_editor_jupyter_bridge/labextension/
jupyter_extension/source/tsconfig.tsbuildinfo
jupyter_extension/build/
